<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
<!-- Content Row -->
<div class="row">
    <div class="col-xl-11 col-lg-11">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">Reading Progress</span>
                <span style="float:right;">
                    <select [(ngModel)]="selectedYear" name="selectedYear" (change)=queryForYear()>
                        <option value=""></option>
                        <option *ngFor="let year of yearsOfBooks" value="{{year}}">{{year}}</option>
                    </select>
                </span>
            </div>
            <!-- <div id="myAreaChart"></div> -->
            <div class="card-body">
                <div class="chart-area">
                    <!-- <canvas id="myAreaChart"></canvas> -->
                    <div id="myAreaChart"></div>
                </div>
                <hr>
                <p>Area Chart</p>
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pie Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div id="myBarChart"></div>
                </div>
                <hr>
                <p>Pie Chart</p>
            </div>
        </div>
    </div>  
</div>