.login-wrapper{
    /* margin: 10rem auto; */
    width: 20rem;
}

#smallSlogan{
   font-size: small;
   line-height: normal !important;
   margin-top: 1rem;
   float: left;
   font-weight: bold;
   color: brown;
}

#siteSlogan{
    /* margin-top: 17rem; */
    /* margin-bottom: 3rem; */
    /* margin-left: 10.5rem; */
    line-height: 1.90em;
    font-weight: bolder;
    font-style: italic;
    color: black;
    
    font-size: 12em;
    width: 20rem;
}

input{
    margin-bottom: 1rem;
}

button{
    margin-bottom: 1rem;
}