/* You can add global styles to this file, and also import other style files */
#myAreaChart, #myBarChart{
    /* padding-left: 10px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 320px;
    width: 96%;
    height: 90%; */
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}

.canvasjs-chart-container
{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}

#myBarChart > .canvasjs-chart-container > .canvasjs-chart-canvas{
    padding-left: 2rem;
} 

.bg-img-wrapper{
    /* The image used */
    background: url("../src/assets/pictures/bg_pic_1.jpg") no-repeat center center fixed;
    /* Control the height of the image */
    /* min-height: 380px; */
   
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-areas: 
    'siteSlogan siteSlogan loginContainer';
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-gap: 0px;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-origin: content-box; */
    box-sizing: border-box;
    border: 1px solid black;
    /* padding: 0 12rem; */
    width: 100%;
    min-height: 150vh !important;
}

.login-wrapper{
    grid-area: loginContainer;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    /* align-self: start; */
}

.siteSlogan{
    grid-area: siteSlogan;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
}

.missingAreaChart{
    width: 90%;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 85%;
    margin-top: -100px;
    margin-left: -100px;
}

@media only screen and (min-device-width:1024px) and (max-device-width: 1440px){
    .bg-img-wrapper{
        min-height: 100vh !important;
    }

    #myBarChart > .canvasjs-chart-container > .canvasjs-chart-canvas{
        height: 320px !important;
    } 

    body, html {
        height: 100%;
    }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 2560px){
    .bg-img-wrapper{
        min-height: 75rem;
    }

    body, html {
        height: 75rem;
    }
}

@media(max-width:768px){

    .bg-img-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh !important;
    }

    /* #myBarChart > .canvasjs-chart-container > .canvasjs-chart-canvas{
        height: 700px !important;
    } */

    .login-wrapper{
        /* grid-area: loginContainer; */
        align-self: center;
    }
    
    .siteSlogan{
        align-self: center;
    }

    body, html {
        height: 100%;
    }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 768px){
    
    .chart-box-padding{
        padding-left: 0 !important;
    }

    #myAreaChart, #myBarChart{
        /* padding-left: 10px;
        padding-right: 25px;
        padding-top: 0px;
        padding-bottom: 320px;
        width: 96%;
        height: 90%; */
        grid-template-rows: 300px;
    }

    /* #myBarChart > .canvasjs-chart-container > .canvasjs-chart-canvas{
        height: 160px !important;
    } */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px)
{
    .bg-img-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
        gap: 1.6rem;
        min-height: 110vh !important;
    }

    body{
        min-height: 110vh;
    }

    #myBarChart > .canvasjs-chart-container > .canvasjs-chart-canvas{
        /* padding-left: 2rem; */
        height: 160px !important;
    }

    .canvasjs-chart-canvas
    {
        width: 100% !important;
    }

    #myAreaChart, #myBarChart{
        /* padding-left: 10px;
        padding-right: 25px;
        padding-top: 0px;
        padding-bottom: 320px;
        width: 96%;
        height: 90%; */
        grid-template-rows: 160px;
    }

    .login-wrapper
    {
        align-self: center;
        width: 19rem !important;
    }

    .siteSlogan{
        align-self: center;
        width: 18rem !important;
    }



    .chart-box-padding{
        padding-left: 0 !important;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 425px){
    .bg-img-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
        min-height: 100% !important;
    }

    #myAreaChart, #myBarChart{
        /* padding-left: 10px;
        padding-right: 25px;
        padding-top: 0px;
        padding-bottom: 320px;
        width: 96%;
        height: 90%; */
        grid-template-rows: 160px;
    }

    .login-wrapper
    {
        align-self: center;
    }

    .siteSlogan{
        align-self: center;
    }
}

.container-fluid{
    padding: 0 !important;
}

body, html {
    width: 100%;
    /* height: 100%; */
}